[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
dpath = "*"
requests = "*"
furl = "*"
alive-progress = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
scrape = "python -m AM2S"
